body {
  background-color: black;
  height: 100%;
  color: #FFF;
  font-size: 62.5%;
}

.mdl-layout__header {
  background-color: #000;
}

.mdl-layout-title, .mdl-navigation__link {
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

.navbar-center {
  margin: auto !important;
}

.mdl-layout-title {
  font-size: 3em;
}

.section-div {
  display: flex;
  display: -webkit-flex;
}

.section-title {
    text-align: center;
    font-size: 10em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
}

#greeting {
  background-image: url('../images/shanghai-birdseye-colour.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

#big-greeting {
  color: #FFF;
  font-size: 18em;
  font-weight: bold;
  text-align: center;
}

#big-greeting-sub {
  color: #FFF;
  font-size: 5em;
  font-weight: 300;
  text-align: center;
  text-shadow: 1px 1px #5c5a5a;
}

#about {
  height: 600px;
  background-color: #FFF;
  color: #000;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: start;
  justify-content: start;
}

#about-container {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 3%;
}

#about-selfie {
    max-width: 100%;
    height: 75%;
    margin-left: 15%;
}

#about-desc {
    font-family: 'Lato', sans-serif;
    font-size: 3.5em;
    max-width: 40%;
}

#experience {
    height: 600px;
    background-color: #000;
    color: #FFF;
}
@media (max-width: 1024px) {
  .mdl-layout__drawer-button {
    color: #FFF;
  }

  .section-title {
      font-size: 5em;
  }

  #greeting {
    height: 40vh;
  }
  #big-greeting {
    font-size: 10em;
  }
  #big-greeting-sub {
    font-size: 4em;
  }

  #about-selfie {
      height: 50%;
      margin-left: 30%;
  }

  #about-desc {
      font-size: 2.5em;
  }
}
